.account {
  background-image: url('../assets/account-2012w.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 97px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.account .container {
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 2rem;
  background-color: var(--secondary);
  border-radius: 5px;
  width: 780px;
  height: 750px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.account .title {
  text-align: center;
  font-family: 'Baskerville Old Face';
  font-weight: normal;
  font-size: 32px;
}

.account form {
  display: flex;
  flex-direction: column;
}

.account .form-info {
  margin-bottom: 2rem;
}

.account .label {
  color: white;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}

.account .input {
  border-radius: 5px;
  height: 50px;
  width: 600px;
  border: none;
  font-size: 18px;
}

.account .btn {
  border: none;
  width: 146px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--primary);
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  margin-top: 1rem;
  cursor: pointer;
}
