.account {
  background-image: url("../assets/account-2012w.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 97px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.account .container {
  position: relative;
  background-color: var(--secondary);
  border-radius: 5px;
  width: 780px;
  height: 650px;
  color: var(--white);
}

.account .title {
  text-align: center;
  font-family: "Baskerville Old Face";
  font-weight: normal;
}
.account form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account .close-x {
  position: absolute;
  top: 5%;
  left: 93%;
  height: 25px;
  width: 25px;
}

.account .label {
  color: white;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}

.account .input {
  border-radius: 5px;
  height: 50px;
  width: 400px;
  border: none;
}

.account .btn {
  border: none;
  width: 146px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--primary);
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  margin-top: 1rem;
  cursor: pointer;
}
