.add-book {
  background-image: url('../assets/account-2012w.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 97px);
}

.add-book .container {
  position: relative;
  width: 1172px;
  height: 750px;
  background: var(--secondary);
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-book .header {
  font-size: 32px;
  font-weight: normal;
  font-family: 'Baskerville Old Face';
  text-align: center;
  color: var(--white);
}

.add-book .close-x {
  position: absolute;
  top: 5%;
  left: 93%;
  height: 25px;
  width: 25px;
}

.add-book .search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem 0.7rem;
}

.add-book .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

.add-book .input {
  border-radius: 5px;
  height: 45px;
  width: 650px;
  padding: 1rem;
  border: none;
  font-size: 18px;
  background-color: var(--white);
  align-self: flex-end;
}

.add-book .input::placeholder {
  padding-left: 1rem;
}

.add-book .fieldset {
  border: none;
  color: var(--white);
}

.add-book .radio-legend-wrap {
  display: flex;
}

.add-book .legend {
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

.add-book .radio-input {
  cursor: pointer;
  margin: 0 0.5rem 0.5rem;
}

.add-book .radio-label {
  cursor: pointer;
}

.add-book .radio-input:first-of-type {
  margin-left: 0;
}

.add-book input[type='radio'] {
  accent-color: var(--primary);
}

.add-book .btn {
  border: none;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--primary);
  text-decoration: none;
  cursor: pointer;
  margin-left: 1rem;
  align-self: flex-end;
}

.add-book .user-instructions {
  /* margin-left: 18%;
  margin-bottom: 5px; */
  align-self: flex-start;
  margin-left: 18%;
  opacity: 0.8;
  font-weight: lighter;
  color: var(--white);
  letter-spacing: 1px;
  font-size: 14px;
  letter-spacing: 1.2px;
}

.add-book .arrow-wrap {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-book .arrow {
  margin: 0 1rem 0;
  cursor: pointer;
}
