.forgot-password-form {
  background: url('../assets/login-2011w.jpg') no-repeat;
  background-size: cover;
  min-height: calc(100vh - 97px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-password-form .title {
  font-size: 32px;
  font-weight: normal;
  font-family: 'Baskerville Old Face';
  color: var(--white);
  letter-spacing: 2px;
}

.forgot-password-form .form {
  background-color: var(--secondary);
  border-radius: 5px;
  width: 575px;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  align-items: center;
  justify-content: center;
  position: relative;
}

.forgot-password-form .label {
  color: white;
  margin-right: auto;
  padding-left: 2.5rem;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}

.forgot-password-form .input {
  border-radius: 5px;
  height: 40px;
  width: 400px;
  border: none;
}

.forgot-password-form .btn {
  border: none;
  width: 146px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--primary);
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  margin-top: 2rem;
  cursor: pointer;
}

.forgot-password-form .success-msg {
  color: black;
  background: white;
  margin-bottom: -1rem;
  border-radius: 5px;
  padding: 0.5rem;
}
