.home {
  background-image: url('../assets/home-background-2011w.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 97px);
  position: relative;
}

.home .cta-btn {
  border: none;
  width: 146px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--primary);
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 65%;
}

.home .hero-text-heading {
  font-weight: normal;
  margin-bottom: 1rem;
}

.home .cta-container {
  position: absolute;
  top: 25%;
  right: 20%;
  background-color: var(--secondary-transparent);
  color: white;
  border-radius: 5px;
  padding: 2rem;
  min-width: 500px;
  height: 200px;
  text-align: center;
}

.features {
  background-image: url('../assets/feature-2013w.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.features .text-container {
  width: 400px;
  height: 350px;
  background-color: var(--secondary-transparent);
  position: absolute;
  top: 15%;
  right: 15%;
  color: var(--white);
  padding: 3rem;
  border-radius: 5px;
}

.features .text-container .heading {
  text-align: center;
  font-weight: normal;
  font-family: 'Baskerville Old Face';
}

.features .text-container .list-item {
  padding: 1rem 0;
}

.features .cta-btn {
  border: none;
  width: 146px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--primary);
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  margin: 1rem auto;
}

@media screen and (max-width: 1375px) {
  .home .cta-container {
    right: 8%;
    width: 350px;
  }
}

@media screen and (max-width: 1069px) {
  .home .cta-container {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
  }

  .features .text-container {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 600px) {
  .home .hero-text-heading {
    width: 283px;
    height: 70px;
  }

  .home .cta-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 23%;
    width: 350px;
    height: 175px;
    text-align: center;
    font-size: 13px;
    min-height: 150px;
    min-width: 350px;
  }

  .home .cta-btn {
    width: 117px;
    height: 42px;
    top: 62%;
  }

  .features .text-container {
    width: 350px;
  }

  .features .cta-btn {
    width: 117px;
    height: 42px;
  }
}
