.home {
  background-image: url("../assets/home-background-2011w.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 97px);
  position: relative;
}

.home .cta-btn {
  border: none;
  width: 146px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--primary);
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
}

.home .hero-text-heading {
  font-weight: normal;
  margin-bottom: 1rem;
}

.home .cta-container {
  position: absolute;
  top: 25%;
  left: 60%;
}

.features {
  background-image: url("../assets/feature-2013w.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.features .text-container {
  width: 400px;
  height: 350px;
  background-color: var(--secondary);
  position: absolute;
  top: 15%;
  left: 60%;
  color: var(--white);
  padding: 3rem;
  border-radius: 5px;
}

.features .text-container .heading {
  text-align: center;
  font-weight: normal;
  font-family: "Baskerville Old Face";
}

.features .text-container .list-item {
  padding: 1rem 0;
}

.features .cta-btn {
  border: none;
  width: 146px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--primary);
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  margin: 1rem auto;
}
