.reset-password {
  background: url('../assets/login-2011w.jpg') no-repeat;
  background-size: cover;
  min-height: calc(100vh - 97px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-password .title {
  font-size: 32px;
  font-weight: normal;
  font-family: 'Baskerville Old Face';
  color: var(--white);
  letter-spacing: 2px;
}

.reset-password .form {
  background-color: var(--secondary);
  border-radius: 5px;
  width: 575px;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  align-items: center;
  justify-content: center;
  position: relative;
}

.reset-password .label {
  color: white;
  margin-right: auto;
  padding-left: 2.5rem;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}

.reset-password .input {
  border-radius: 5px;
  height: 40px;
  width: 400px;
  border: none;
}

.reset-password .btn {
  border: none;
  width: 146px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--primary);
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  margin-top: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 675px) {
  .reset-password .form {
    max-width: 450px;
    padding: 1.5rem;
  }

  .reset-password .label {
    padding-left: 1rem;
  }

  .reset-password .input {
    width: 375px;
  }
}

@media screen and (max-width: 500px) {
  .reset-password .form {
    max-width: 350px;
  }

  .reset-password .label {
    padding-left: 0;
  }

  .reset-password .input {
    width: 300px;
  }
}
