.navbar {
  background-color: var(--primary);
  color: var(--white);
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo-container {
  display: flex;
  align-items: center;
}

.navbar .links-container ul {
  display: flex;
  list-style-type: none;
}

.navbar .links,
.navbar .btn-logout {
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 0 1rem;
}

.navbar .logo-title {
  font-family: 'Baskerville Old Face';
  letter-spacing: 1.5px;
  font-size: 36px;
  font-weight: 300;
  margin-left: 1rem;
}

.navbar .logo-container a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}
